* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.marginY {
  margin-top: 20px;
  margin-bottom: 20px;
}
.btn {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
}
